<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <title>Corona portal</title>

    <meta name="description" content="">
    <link rel="icon" type="image/png"
          href="/images/favIcon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }
    </style>
    <style data-css-anim="">
        [data-anim-type]:not([data-anim-done]) {
            opacity: 0;
        }
    </style>
    <script>
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
        function getUsername() {
            let user=getCookie("firstName");
            let x = document.getElementsByName("userFirstName");
            let i;
            for(i = 0; i < x.length; i++)
                x.item(i).innerHTML += user;
        }
    </script>
    <link rel="stylesheet" type="text/css" href="/css/appStyle.css">
</head>
<body onload="getUsername()" data-new-gr-c-s-check-loaded="14.1012.0" data-gr-ext-installed="">
<div id="ixuj" data-anim-type="fadeIn" data-anim-br="414" class="gpd-navbar" data-anim-done="1"
     style="animation-name: fadeIn;">
    <div id="ic5a7" class="gpd-container">
        <div id="iu8dq" class="gdp-row">
            <div id="i0yff" class="cell"><a id="ilani" href="/" class="gpd-link-box"><img id="ivm7f"
                                                                                         src="/images/Corona portal logo.png"></a>
            </div>
            <div id="i6ls5" class="cell gpd-navbar__menu"><a id="i3vv9" class="gpd-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2z"></path>
                </svg>
            </a></div>
            <div id="izu4n" class="cell gpd-navbar__items">
                <div id="it3na" class="gdp-row gpd-navbar__items-grid">
                    <div id="im09m" class="cell gpd-navbar__item nav-item"><a id="igq3h"
                                                                              href="https://www.sst.dk/en/English"
                                                                              target="_blank"
                                                                              class="gpd-navbar__item-link">About us<br></a>
                    </div>
                    <div id="iq4pk" class="cell gpd-navbar__item nav-item"><a id="ikig6"
                                                                              href="https://www.sst.dk/en/English"
                                                                              target="_blank"
                                                                              class="gpd-navbar__item-link">Learn
                        more</a></div>
                    <div id="iguu8" class="cell gpd-navbar__item nav-item">
                        <div id="iitzx" name="userFirstName" class="gpd-text">Welcome, </div>
                    </div>
                </div>
            </div>
            <div id="ihndr" class="cell"><a id="io6we" th:href="@{/logout}" class="gpd-link cta-button">Log out</a></div>
        </div>
    </div>
</div>
<style id="ir3pn">html {
    scroll-behavior: smooth;
}</style>
<section id="iftl" class="gpd-section">
    <div id="ia0i" class="gpd-container"><h1 id="ine3v">YOUR COVID-19 TEST RECORD</h1>
        <table id="it3lh" class="table table-bordered">
            <thead>
            <tr>
                <th id="i8juk"><span id="i65d1">Test appointment ID</span></th>
                <th id="ialqv"><span id="i7gu8">Test center name</span></th>
                <th id="i1yl8"><span id="ithg6">Test date</span></th>
                <th id="i9u9g"><span id="i8bty">Result</span></th>
                <th id="ikwav"><span id="ivh1g">Result time</span></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="appointment : ${appointments}" id="i4tag">
                <td th:text="${appointment.appointmentId}" id="ifwo6"><span id="i2z0f"><br></span></td>
                <td th:text="${appointment.testCenter}" id="ij6mc"><span id="i3mu7"></span></td>
                <td th:text="${appointment.appointmentTime}" id="izq8j"><span id="iwv9p"></span></td>
                <td id="ilo4n">
                            <span id="i1njg" th:if="${appointment.result == '0'}">
                                N/A
                            </span>
                    <span id="i1njg" th:unless="${appointment.result == '0'}" th:text="${appointment.testTime}"></span>
                </td>
                <td id="iu4wg">
                            <span id="i2evs" th:if="${appointment.result == '0'}">
                                <a th:href="@{'/user/deleteTestAppointment/' + ${appointment.appointmentId}}">
                                        <button type="button" class="btn btn-primary btn-lg">
                                            Delete
                                        </button>
                                    </a>
                            </span>
                    <span id="i2evs" th:unless="${appointment.result == '0'}" th:text="${appointment.result}"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="idd1fa" class="gdp-row gpd-grid">
            <div id="iydljl" class="cell gpd-clm photo"></div>
        </div>
    </div>
</section>
<section id="im0u3g" class="gpd-section">
    <div id="iobnhd" class="gpd-container">
        <div id="iq4rhi" class="gdp-row">
            <div id="idggm4" class="cell footer-column"><a id="i104le" href="https://www.sst.dk/en/English"
                                                           target="_blank" class="gpd-link footer-link">About us</a><a
                    id="iqbv5" href="https://www.sst.dk/en/English" target="_blank" class="gpd-link footer-link">Learn
                more</a><a id="ie0c3h" href="https://www.sst.dk/en/English/Corona-eng/Vaccination-against-COVID-19" target="_blank" class="gpd-link footer-link">Services we offer</a><a id="ijtnb" href="https://www.sst.dk/en/English/About-us/Contact-us"
                                                                                                                                                                                         target="_blank"
                                                                                                                                                                                         class="gpd-link footer-link">Contact</a></div>
            <div id="i4a6eg" class="cell footer-column"><h4 id="ijx38l" class="footer-title">Contact us</h4><a
                    id="isxhjm" href="tel:" class="gpd-link">support@coronaportal.com</a><a id="iqhrd9" href=""
                                                                                            class="gpd-link footer-link">+45
                50 24 40 95</a></div>
        </div>
        <div id="ivi361" class="gpd-divider"></div>
        <div id="infzsb" class="gdp-row">
            <div id="i0bvnn" class="cell">
                <div id="ird0zk" class="gpd-text">© 2020 Copyright, All Right Reserved.&nbsp;Made by EEB Dev Group</div>
            </div>
        </div>
    </div>
</section>
<script>var items = document.querySelectorAll('#i3vv9');
for (var i = 0, len = items.length; i < len; i++) {
    (function () {
        var t, e = 0, n = 'gjs-collapse', r = 'max-height', i = 'ease-in-out', o = .25, a = function () {
            var t, e = document.createElement('void'), n = {
                transition: 'transitionend',
                OTransition: 'oTransitionEnd',
                MozTransition: 'transitionend',
                WebkitTransition: 'webkitTransitionEnd'
            };
            for (t in n) if (void 0 !== e.style[t]) return n[t]
        }(), s = function (t) {
            e = 1;
            var n = function (t) {
                var e = window.getComputedStyle(t), n = e.display, i = parseInt(e[r]);
                if ('none' !== n && '0' !== i) return t.offsetHeight;
                t.style.height = 'auto', t.style.display = 'block', t.style.position = 'absolute', t.style.visibility = 'hidden';
                var o = t.offsetHeight;
                return t.style.height = '', t.style.display = '', t.style.position = '', t.style.visibility = '', o
            }(t), a = t.style;
            a.display = 'block', a.transition = r + ' ' + o + 's ' + i, a.overflowY = 'hidden', '' == a[r] && (a[r] = 0), 0 == parseInt(a[r]) ? (a[r] = '0', setTimeout(function () {
                a[r] = n + 'px'
            }, 10)) : a[r] = '0'
        };
        n in this || this.addEventListener('click', function (n) {
            if (n.preventDefault(), !e) {
                var i = this.closest('.gpd-navbar').querySelector(".gpd-navbar__items");
                s(i), t || (i.addEventListener(a, function () {
                    e = 0;
                    var t = i.style;
                    0 == parseInt(t[r]) && (t.display = '', t[r] = '')
                }), t = 1)
            }
        }), this[n] = 1
    }.bind(items[i]))();
}</script>

<script async="" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" onload="postJQ()"></script>
<script async="" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>